form(method="post" action="/login")
    h1 Sign in
    span Use your account
    table 
        tr
            td 
                input(type="text" name="username" placeholder="Username")
        tr 
            td 
                input(type="password" name="password" placeholder="Password")
        tr
            td
                input(type="submit" value="Sign In")