form(method="post" action="/register")
    h1 Create Account
    <span>Use your username for registration</span>
    table
        tr
            td
                input(type="text" name="username" placeholder="Username")
        tr
            td
                input(type="text" name="fullname" placeholder="Fullname")
        tr
            td
                input(type="password" name="password" placeholder="Password")
        tr
            td
                input(type="password" name="confirm-password" placeholder="Confirm Password")
        tr
            td
                input(type="submit" value="Sign Up")