doctype html
html(lang="en")
    head
        title = title
        include includes/styles
        include includes/scripts
    body         
        #container.container
            include includes/header
            block content